<%= form_block "Metadata" do %>
    <%= f.input :title %>
    <%= f.input :output_key, hint: "The key used to request this campaign. If multiple active campaigns have the same key, a random one will be selected." %>
    <%= f.input :domains, hint: "Comma-separated list of domains to allow access to this campaign." %>
<% end %>

<%= form_block "Scheduling" do %>
    <div class="alert alert-info">
        Empty scheduling fields will mark this campaign inactive.
    </div>

    <%= f.input :starts_at, include_blank: true %>
    <%= f.input :ends_at, include_blank: true %>
<% end %>

<%= form_block "Markup" do %>
    <%= f.input :markup, label: false, input_html: { style: "width: 100%; font-family: monospace;" } %>
<% end %>
